<div class="col s12 m6 l4">
  <div class="card yellow lighten-3 brown-text">
    <div class="card-content">
        <p><%=tweet.text%></p>
        <div class="author"><span class="right">--<a href="users/<%=tweet.user_id%>" class=" red-text text-darken-3"><%= tweet.user.nickname%></a></span></div>
      </div>

    <div class="card-action">
     <span class="left">category：</span>
        <a href="genres/<%= tweet.genre_id %>" class="truncate"><%= tweet.genre.genre_name %> </a>
    <div class="more_list right flex">
          <%= link_to content_tag(:i, 'loupe', class: 'material-icons large'), "tweets/#{tweet.id}",:class=>"btn-floating btn-small waves-effect waves-light brown", method: :get %>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%= link_to content_tag(:i, 'edit', class: 'material-icons'), "tweets/#{tweet.id}/edit",:class=>"btn-floating btn-small waves-effect waves-light brown", method: :get %>
          <%= link_to content_tag(:i, 'delete', class: 'material-icons'), "tweets/#{tweet.id}",:class=>"btn-floating btn-small waves-effect waves-light red", method: :delete,data:{confirm: 'are you sure to delete??'} %>
            <% end %>
        </div>
    </div>
  </div> 
</div>