<!DOCTYPE html>
<html>
  <head>
    <title>StudyTAG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script>  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  </script>
  </head>

  <body>
  <header>
    <nav class="header fixed">
      <div class="nav-wrapper white-text">
        <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
        <a href="/tweets" class="brand-logo center truncate">StudyTAG<%="::" + current_user.nickname if user_signed_in?%></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">What's StudyTag?</a></li>
          <% if user_signed_in? %>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
          <li class="yellow"><a href="/tweets/new" class=" brown-text">Create New TAG</a></li>
          <% else %>
          <li><%= link_to "sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>


  <ul class="sidenav" id="mobile-links">
          <li><a href="#">What's StudyTag?</a></li>
          <%if user_signed_in? %>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
          <li class="yellow"><a href="/tweets/new" class="brown-text">Create New TAG</a></li>
          <%else%>
          <li><%= link_to "sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
  </ul>


  </header>


    <div class="content container z-depth-2">
      <%= yield %>
    </div>

  </body>

</html>